@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --img-size: 4em;
  --clr-mature: linear-gradient(#3e1c47, #df1a1a);
  --clr-primary: linear-gradient(#3d274b, #25aaaa);
  --bg-dark: #1c1720;
}

body {
  background: var(--bg-dark);
  color: white;
}

main {
  max-width: 60em;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

#header {
  margin: 2rem 3rem 4rem;
}

#header h2 {
  font-weight: 200;
}

#streams-container {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

a {
  width: 30%;
  margin: 0 auto 2.5rem;
  text-decoration: none;
}

.card {
  background: var(--clr-primary);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 1.5rem 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 0 7px 8px #0005;
  transition: filter 200ms;
}

.card:hover {
  filter: brightness(1.15);
}

.avatar {
  max-width: var(--img-size);
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  box-shadow: 0 7px 8px #0005;
}

.userDiv {
  margin-left: 4.5rem;
  overflow: hidden;
}

.user {
  font-weight: 600;
  font-size: 1.25rem;
}

.marquee {
  animation: marquee 5s infinite linear;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.user::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 0.92rem;
  font-weight: 300;
  margin: 0.45rem 0;
}

.thumb {
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px #0008;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.timer {
  margin-top: 1em;
  font-size: 0.75rem;
  font-weight: 300;
}

.viewers {
  margin-top: 1em;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 800;
}

.mature {
  background: var(--clr-mature);
}
